<div class="login-box-body">
  <p class="login-box-msg">Sign in to start your session</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <!-- <form action="../../index2.html" method="post"> -->
    <div class="form-group has-feedback">
      <!-- <input type="email" class="form-control" placeholder="Email"> -->
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
      <!-- <input type="password" class="form-control" placeholder="Password"> -->
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <% if devise_mapping.rememberable? -%>
        <div class="checkbox icheck">
          <label>
            <%= f.check_box :remember_me %> Remember Me
          </label>
        </div>
        <% end %>
      </div>
      <!-- /.col -->
      <div class="col-xs-4">
        <%= f.submit "Log in", class: "btn btn-primary btn-block btn-flat" %>
        <!-- <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button> -->
      </div>
      <!-- /.col -->
    </div>
  <% end %>
  <!-- /.social-auth-links -->
</div>

<%#= render "users/shared/links" %>
