<section class="content-header">
  <h1>
    Users
    <small>List</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Users</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">List of Employees</h3>
          <div class="box-tools">
            <%= link_to "<i class='fa fa-plus'></i>".html_safe, new_user_path, class: "btn btn-info btn-primary" %>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>ID</th>
                <th>Fullname</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Employee Type</th>
                <th>Actions</th>
              </tr>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.fullname %></td>
                  <td><%= user.email %></td>
                  <td><%= user.mobile_number %></td>
                  <td><%= user.employee_type %></td>
                  <td>
                    <%= link_to "<i class='fa fa-eye'></i>".html_safe, "#", class: "btn btn-info btn-primary" %>
                    <%= link_to "<i class='fa fa-pencil'></i>".html_safe, "#", class: "btn btn-info btn-warning" %>
                    <%= link_to "<i class='fa fa-trash'></i>".html_safe, "#", class: "btn btn-info btn-danger" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</section>
