<section class="content-header">
  <h1>
    Users
    <small>Create</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="<%= users_path %>"><i class="fa fa-user"></i> Users</a></li>
    <li class="active">New</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
    	<div class="box">
    		<div class="box-header">
          <h3 class="box-title">Employee Create</h3>
          <div class="box-tools">
            <%= link_to "<i class='fa fa-bars'></i>".html_safe, users_path, class: "btn btn-info btn-primary" %>
          </div>
        </div>
	    	<div class="box-body">
	    		<%= form_for @user, url: users_path, method: :post do |f| %>
		    		<div class="form-group">
		    			<div class="row">
			    			<div class="col-md-6">
			          	<%= f.email_field :email, class: "form-control", placeholder: "Email Address" %>
			          </div>
			        </div>
			      </div>
			      <div class="form-group">
		    			<div class="row">
			    			<div class="col-md-6">
			          	<%= f.password_field :password, class: "form-control", placeholder: "Password" %>
			          </div>
			        </div>
			      </div>
			      <div class="form-group">
		    			<div class="row">
			    			<div class="col-md-6">
			          	<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
			          </div>
			        </div>
			      </div>
			      <div class="form-group">
			        <div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
			          </div>
			        </div>
			      </div>
			      <div class="form-group">
			        <div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
			          </div>
			        </div>
			      </div>
			      <div class="form-group">
			       	<div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :mobile_number, class: "form-control", placeholder: "Mobile Number" %>
			          </div>
			        </div>
		        </div>
		        <div class="form-group">
			       	<div class="row">
			    			<div class="col-md-6">
			          	<%= f.select :employee_type, ["Admin", "Employee"], {prompt: "--Employee Type--"},class: "form-control" %>
			          </div>
			        </div>
		        </div>
		        <div class="form-group">
			       	<div class="row">
			    			<div class="col-md-6">
			          	<%= f.submit "Create", class: "btn btn-primary" %>
			          </div>
			        </div>
		        </div>
		      <% end %>
	    	</div>
    </div>
  </div>
</section>
