<div class="col-md-12 z-index-999" >
  <% flash.each do |name, msg| %>
    <% if msg.class == Array %>
      <div id="flashm" class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %> alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <% msg.each do |m| %>
          <%= m %> <br>        
        <% end %>
      </div>
    <% else %>
      <div id="flashm" class="alert-mar-20 alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %> alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= msg %>
      </div>
    <% end %>
  <% end %>
</div>