<table border="1">
	<tr>
		<td>First Name</td>
		<td><%= @candidate.first_name %>
	</tr>
	<tr>
		<td>Last Name</td>
		<td><%= @candidate.last_name %>
	</tr>
	<tr>
		<td>Birth Date</td>
		<td><%= @candidate.date_of_birth %>
	</tr>
	<tr>
		<td>Qualification</td>
		<td><%= @candidate.qualification %>
	</tr>
	<tr>
		<td>Experience</td>
		<td><%= @candidate.experience %>
	</tr>
	<tr>
		<td>Current Company</td>
		<td><%= @candidate.current_company %>
	</tr>
	<tr>
		<td>Current Designation</td>
		<td><%= @candidate.current_designation %>
	</tr>
	<tr>
		<td>Current Location</td>
		<td><%= @candidate.current_location %>
	</tr>
	<tr>
		<td>Open For Location</td>
		<td><%= @candidate.open_for_location %>
	</tr>
	<tr>
		<td>Current CTC</td>
		<td><%= @candidate.current_ctc %>
	</tr>
	<tr>
		<td>Expected CTC</td>
		<td><%= @candidate.expected_ctc %>
	</tr>
	<tr>
		<td>Notice Period</td>
		<td><%= @candidate.notice_period %>
	</tr>
	<tr>
		<td>Reason For Change</td>
		<td><%= @candidate.reason_for_change %>
	</tr>
	<tr>
		<td>Referred For</td>
		<td><%= @candidate.reffered_for %>
	</tr>
</table>