<section class="content-header">
  <h1>
    Candidate
    <small>List</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Candidates</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">List of Candidates</h3>
          <div class="box-tools">
            <%= link_to "<i class='fa fa-plus'></i>".html_safe, new_candidate_path, class: "btn btn-info btn-primary" %>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Fullname</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>WPC Company</th>
                <th>WPC Designation</th>
                <th>Actions</th>
              </tr>
              <% @candidates.each do |candidate| %>
                <tr>
                  <td><%= candidate.fullname %></td>
                  <td><%= candidate.email if current_user.is_admin? or (current_user.is_employee? and candidate.user == current_user) %></td>
                  <td><%= candidate.contact_number if current_user.is_admin? or (current_user.is_employee? and candidate.user == current_user) %></td>
                  <td><%= candidate.try(:company).try(:name) %></td>
                  <td><%= candidate.wpc_designation %></td>
                  <td>
                    <%= link_to "<i class='fa fa-eye'></i>".html_safe, "#", class: "btn btn-info btn-primary" %>
                    <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_candidate_path(candidate), class: "btn btn-info btn-warning" %>
                    <%= link_to "<i class='fa fa-trash'></i>".html_safe, "#", class: "btn btn-info btn-danger" %>
                    <%= link_to "<i class='fa fa-download'></i>".html_safe, download_front_path(candidate), class: "btn btn-info btn-primary" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</section>
