<section class="content-header">
  <h1>
    Candidates
    <small>Create</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="<%= users_path %>"><i class="fa fa-user"></i> Candidates</a></li>
    <li class="active">New</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
    	<div class="box">
    		<div class="box-header">
          <h3 class="box-title">Add New Candidate</h3>
          <div class="box-tools">
            <%= link_to "<i class='fa fa-bars'></i>".html_safe, candidates_path, class: "btn btn-info btn-primary" %>
          </div>
        </div>
	    	<div class="box-body">
	    		<div class="row">
		        <%= render "shared/flash_messages" %>
		      </div>
	    		<%= form_for @candidate, url: candidates_path, method: :post do |f| %>
		    		<div class="form-group">
		    			<div class="row">
			    			<div class="col-md-6">
			          	<%= f.email_field :email, class: "form-control", placeholder: "Email Address" %>
			          </div>
			        </div>
			      </div>
			      <div class="form-group">
		    			<div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
			          </div>
			        </div>
			      </div>
			      <div class="form-group">
		    			<div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
			          </div>
			        </div>
			      </div>
			      <div class="form-group">
			        <div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :entered_date, class: "form-control", placeholder: "Entered Date" %>
			          </div>
			        </div>
			      </div>
			      <div class="form-group">
			        <div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :wpc_designation, class: "form-control", placeholder: "Designation For" %>
			          </div>
			        </div>
			      </div>
			      <div class="form-group">
			        <div class="row">
			    			<div class="col-md-6">
			          	<%= f.select :company_id, options_from_collection_for_select(Company.all, :id, :name), {}, class: "form-control select2" %>
			          </div>
			        </div>
			      </div>
			      <div class="form-group">
			       	<div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :contact_number, class: "form-control", placeholder: "Mobile Number" %>
			          </div>
			        </div>
		        </div>
		        <div class="form-group">
			       	<div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :date_of_birth, class: "form-control", placeholder: "Date of Birth" %>
			          </div>
			        </div>
		        </div>
		        <div class="form-group">
			       	<div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :qualification, class: "form-control", placeholder: "Qualification" %>
			          </div>
			        </div>
		        </div>
		        <div class="form-group">
			       	<div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :experience, class: "form-control", placeholder: "Experience" %>
			          </div>
			        </div>
		        </div>
		        <div class="form-group">
			       	<div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :current_company, class: "form-control", placeholder: "Current Company" %>
			          </div>
			        </div>
		        </div>
		        <div class="form-group">
			       	<div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :current_designation, class: "form-control", placeholder: "Current Designation" %>
			          </div>
			        </div>
		        </div>
		        <div class="form-group">
			       	<div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :current_location, class: "form-control", placeholder: "Current Location" %>
			          </div>
			        </div>
		        </div>
		        <div class="form-group">
			       	<div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :open_for_location, class: "form-control", placeholder: "Open For Location" %>
			          </div>
			        </div>
		        </div>
		        <div class="form-group">
			       	<div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :current_ctc, class: "form-control", placeholder: "Current CTC" %>
			          </div>
			        </div>
		        </div>
		        <div class="form-group">
			       	<div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :expected_ctc, class: "form-control", placeholder: "Expected CTC" %>
			          </div>
			        </div>
		        </div>
		        <div class="form-group">
			       	<div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :notice_period, class: "form-control", placeholder: "Notice Period" %>
			          </div>
			        </div>
		        </div>
		        <div class="form-group">
			       	<div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :reason_for_change, class: "form-control", placeholder: "Reason For Change" %>
			          </div>
			        </div>
		        </div>
		        <div class="form-group">
			       	<div class="row">
			    			<div class="col-md-6">
			          	<%= f.text_field :reffered_for, class: "form-control", placeholder: "Reffered For" %>
			          </div>
			        </div>
		        </div>
		        <div class="form-group">
			       	<div class="row">
			    			<div class="col-md-6">
			          	<%= f.file_field :resume, class: "form-control", placeholder: "Reffered For" %>
			          </div>
			        </div>
		        </div>
		        <div class="form-group">
			       	<div class="row">
			    			<div class="col-md-6">
			          	<%= f.submit "Create", class: "btn btn-primary" %>
			          </div>
			        </div>
		        </div>
		      <% end %>
	    	</div>
    	</div>
  	</div>
  </div>
</section>

<script type="text/javascript">
	$(".select2").select2();
</script>
