<section class="content-header">
  <h1>
    Company
    <small>List</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Company</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">List of Companies</h3>
          <div class="box-tools">
            <%= link_to "<i class='fa fa-plus'></i>".html_safe, new_company_path, class: "btn btn-info btn-primary" %>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Name</th>
                <th>Contact Person</th>
                <th>Contact Number</th>
                <th>Contract Start Date</th>
                <th>Contract End Date</th>
                <th>Actions</th>
              </tr>
              <% @companies.each do |company| %>
                <tr>
                  <td><%= company.name %></td>
                  <td><%= company.contact_person_name %></td>
                  <td><%= company.contact_number %></td>
                  <td><%= company.contract_start_date %></td>
                  <td><%= company.contract_end_date  %></td>
                  <td>
                    <%= link_to "<i class='fa fa-eye'></i>".html_safe, "#", class: "btn btn-info btn-primary" %>
                    <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_company_path(company), class: "btn btn-info btn-warning" %>
                    <%= link_to "<i class='fa fa-trash'></i>".html_safe, "#", class: "btn btn-info btn-danger" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</section>
