<section class="content-header">
  <h1>
    Companies
    <small>Create</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="<%= companies_path %>"><i class="fa fa-user"></i> Companies</a></li>
    <li class="active">New</li>
  </ol>
</section>

<section class="content">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Add New Company</h3>

      <div class="box-tools pull-right">
        <%= link_to "<i class='fa fa-bars'></i>".html_safe, companies_path, class: "btn btn-info btn-primary" %>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <%= render "shared/flash_messages" %>
      </div>
      <div class="row">
        <%= form_for @company, url: companies_path, method: :post do |f| %>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.text_field :name, class: "form-control", placeholder: "Company Name" %>
            </div>
            
            <div class="form-group">
              <%= f.text_field :contact_person_name, class: "form-control", placeholder: "Contact Person Name" %>
            </div>

            <div class="form-group">
              <%= f.text_field :second_contact_person_name, class: "form-control", placeholder: "Second Contact Person Name" %>
            </div>

            <div class="form-group">
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <%= f.text_field :contract_start_date, class: "form-control datepicker", placeholder: "Contract Start Date" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.text_area :address, class: "form-control", placeholder: "Company Address", rows: "3" %>
            </div>

            <div class="form-group">
              <%= f.submit "Create", class: "btn btn-block btn-primary", style: "width: 25%;" %>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-md-6">
            <div class="form-group">
              <%= f.text_field :authorized_person_name, class: "form-control", placeholder: "Authorized Person Name" %>
            </div>
            
            <div class="form-group">
              <%= f.text_field :contact_number, class: "form-control", placeholder: "Contact Number" %>
            </div>

            <div class="form-group">
              <%= f.text_field :second_contact_number, class: "form-control", placeholder: "Second Contact Number" %>
            </div>

            <div class="form-group">
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <%= f.text_field :contract_end_date, class: "form-control datepicker", placeholder: "Contract End Date" %>
              </div>
            </div>
          </div>
          <!-- /.col -->
        <% end %>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.box-body -->
  </div>
</section>

<script type="text/javascript">
  $(".datepicker").datepicker({
    autoclose: true
  });
</script>