<!DOCTYPE html>
<html>
<head>
  <title>WhitePearl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

	  <%= render "layouts/header" %>
	  <!-- Left side column. contains the logo and sidebar -->
	  <%= render "layouts/sidebar" %>
	  <div class="content-wrapper">
	  	<%= yield %>
	  </div>
	  <%= render "layouts/footer" %>
	  <%= render "layouts/control_bar" %>
	</div>


</body>
</html>
