<!DOCTYPE html>
<html>
<head>
  <title>WhitePearl</title>
  <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'login', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
	    <a href="#"><b>White</b>PEARL</a>
	  </div>
	  <%= yield %>
	</div>
</body>
</html>
